[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/taglist"]
	path = vim/bundle/taglist
	url = git://github.com/esukram/taglist.vim.git
[submodule "vim/bundle/lusty"]
	path = vim/bundle/lusty
	url = git://github.com/sjbach/lusty.git
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/bundle/matchit"]
	path = vim/bundle/matchit
	url = git://github.com/edsono/vim-matchit.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = git://github.com/tsaleh/vim-supertab.git
[submodule "vim/bundle/dirdo"]
	path = vim/bundle/dirdo
	url = git://github.com/ornicar/vim-dirdo.git
[submodule "vim/bundle/commandt"]
	path = vim/bundle/commandt
	url = git://github.com/wincent/Command-T.git
[submodule "vim/bundle/unimpaired"]
	path = vim/bundle/unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundle/vim-symfony"]
	path = vim/bundle/vim-symfony
	url = git://github.com/soh335/vim-symfony.git
[submodule "vim/bundle/vimlatex"]
	path = vim/bundle/vimlatex
	url = git://github.com/jcf/vim-latex.git
[submodule "vim/bundle/gitvim"]
	path = vim/bundle/gitvim
	url = http://github.com/motemen/git-vim.git
[submodule "vim/bundle/vim-scala"]
	path = vim/bundle/vim-scala
	url = git://github.com/ornicar/vim-scala.git
