*.swp
.VimballRecord
*.so
*.o
bundle/commandt/ruby/command-t/Makefile
vim/bundle/*
private
.netrwhist
xmonad.errors
*.hi
xmonad-*
*.sug
*.spl
weechat/logs/*
weechat/irc.conf
weechat/jabber.conf
weechat/logger.conf
weechat/plugins.conf
weechat/relay.conf
weechat/rmodifier.conf
weechat/xfer.conf
weechat/charset.conf
weechat/alias.conf
weechat/aspell.conf
weechat/charset.conf
*.log
mpd/mpd.db
mpd/mpd.pid
mpd/mpdstate
*=
nvim/plugged/
