configuration {
  font: "JetBrainsMono Nerd Font 10";
  terminal: "foot";
 	drun-match-fields: "name";
  sidebar-mode: true;
  dpi: 192;
  kb-element-next: "";
  kb-mode-next: "Tab";
  kb-element-next: "T";
  kb-element-prev: "S";
  kb-mode-next: "Control-s";
  kb-mode-previous: "Control-t";
}
